<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>742892322160-o7pdfbb978v1c2t3cslb1cpdjt3081uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742892322160-o7pdfbb978v1c2t3cslb1cpdjt3081uh</string>
	<key>API_KEY</key>
	<string>AIzaSyBTKF2l2jCECn11qNyscEq_C8EW0LRM8ps</string>
	<key>GCM_SENDER_ID</key>
	<string>742892322160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honghaiFCM</string>
	<key>PROJECT_ID</key>
	<string>testfcm-16260</string>
	<key>STORAGE_BUCKET</key>
	<string>testfcm-16260.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742892322160:ios:217ce867e450c4d5</string>
	<key>DATABASE_URL</key>
	<string>https://testfcm-16260.firebaseio.com</string>
</dict>
</plist>